/.EasyOCR
/.Xdefaults
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.config
/.docker
/.dotnet
/.gitconfig
/.gitconfig.save
/.local
/.nv
/.profile
/.ssh
/.vscode-server
/.wget-hsts
/.xscreensaver
/BA_Theo
/anaconda3
/weights
/MA_Roewaplan